#!/bin/bash
# check if opscli library path is set
[[  ! -d ${OPSCLI_PATH} ]] && {
    echo "WARNING: failed to source opscli library, cannot run script."
    exit 1
}
# load opscli library, never place this file inside the opscli library itself to avoid recursion
unset OPSCLI_LOADED && source ${OPSCLI_PATH}/library.sh

# validate if version is supported
ops::version::isSupported v1.2.0 || exit 1

writeINF "Hello world. This is a demo script using opscli library."
